/* font-family: 'Orbitron', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

body {
    background: linear-gradient(to right, #F2091D, #C2C98F);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.banner {
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vw;
    font-size: 2.5rem;
    align-items: flex-start;
    position: absolute;
    top: 15rem;
}

.player-points, .computer-points {
    text-align: center;
    font-size: 5rem;
}

.round-counter {
    position: absolute;
    top: 10rem;
    font-size: 3rem;
    font-weight: bold;
}

.winner {
    position: absolute;
    top: 20rem;
    font-size: 1.5rem;
}

.retry {
    position: absolute;
    top: 45rem;
}

.play {
    position: absolute;
    top: 30rem;
    font-size: 1.75rem;
}

#player-choices {
    position: absolute;
    top: 35rem;
}

button {
    padding: 2rem 1rem;
    font-size: 2rem;
    margin: 0 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 2px 2px;
}

button:hover {
    cursor: pointer;
    background-color: #F2091D;
    transition: .4, ease-in-out;
}